<?xml version="1.0" encoding="UTF-8"?>
<!--<suite name = "seleniumAutomation" parallel ="methods" thread-count="2">-->
<suite name = "seleniumAutomation">

 <listeners>
  <listener class-name="utilities.TestNGListener" />
 </listeners>

<!--   <groups>-->
<!--    <run>-->
<!--     <include name="smokeTest"/>-->
<!--    </run>-->
<!--   </groups>-->

 <test name = "chrome Test">
<parameter name = "browser" value = "chrome"/>
  <classes>

<class name = "tests.LoginTest"/>
<!--<class name = "tests.LaunchTest"/>-->

</classes>

</test>

</suite>